// Font import
@font-face {
    font-family: "Montserrat";
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
}

// Font variables
$Montserrat: "Montserrat", sans-serif;

// Colors variables
$color-salmon: #FF6060;
$color-clearGrey: #F6F6F6;
$color-white: #FFFFFF;
$color-black: #000000;



