// Font variables
$Montserrat: "Montserrat", sans-serif;

// Colors variables
$color-salmon: #FF6060;
$color-clearGrey: #F6F6F6;
$color-white: #FFFFFF;
$color-black: #000000;


// Resets
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $color-white;
    font-family: $Montserrat;
    max-width: 1440px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}


